<div id="<%= "snippets-page-parts-#{part_counter}" %>" class="ui-tabs-panel clearfix">
  <div class="hemisquare">
  <%= checkboxes do -%>
    <h3>Before part body -t-</h3>
    <ul class="records checkboxes ui-sortable">
    <% part.before_page_part_snippets.each_with_index do |s_wrap, index| %>
      <li>
        <%= hidden_field_tag "page[parts_attributes][#{part.position}][before_page_part_snippets_attributes][#{index}][snippet_id]", s_wrap.snippet.id %>
        <%= hidden_field_tag "page[parts_attributes][#{part.position}][before_page_part_snippets_attributes][#{index}][id]", s_wrap.id unless s_wrap.new_record? %>
        <%= hidden_field_tag "page[parts_attributes][#{part.position}][before_page_part_snippets_attributes][#{index}][active]", 0, id: nil %>
        <%= check_box_tag "page[parts_attributes][#{part.position}][before_page_part_snippets_attributes][#{index}][active]",
                    1, s_wrap.active,
                    id: "snippet_before_#{part.title}_#{s_wrap.snippet.id}" %>

        <%= label_tag nil, s_wrap.title,
                    class: 'stripped',
                    for: "snippet_before_#{part.title}_#{s_wrap.snippet.id}" %>
      </li>
    <% end %>
    </ul>
  <% end %>
  </div>
  <div class="hemisquare right-side">
  <%= checkboxes do -%>
    <h3>After part body -t-</h3>
    <ul class="records checkboxes ui-sortable">
    <% part.after_page_part_snippets.each_with_index do |s_wrap, index| %>
      <li>
        <%= hidden_field_tag "page[parts_attributes][#{part.position}][after_page_part_snippets_attributes][#{index}][snippet_id]", s_wrap.snippet.id %>
        <%= hidden_field_tag "page[parts_attributes][#{part.position}][after_page_part_snippets_attributes][#{index}][id]", s_wrap.id unless s_wrap.new_record? %>
        <%= hidden_field_tag "page[parts_attributes][#{part.position}][after_page_part_snippets_attributes][#{index}][active]", 0, id: nil %>
        <%= check_box_tag "page[parts_attributes][#{part.position}][after_page_part_snippets_attributes][#{index}][active]",
                    1, s_wrap.active,
                    id: "snippet_after_#{part.title}_#{s_wrap.snippet.id}" %>

        <%= label_tag nil, s_wrap.title,
                    class: 'stripped',
                    for: "snippet_after_#{part.title}_#{s_wrap.snippet.id}" %>

      </li>
    <% end %>
    </ul>
  <% end %>
  </div>
</div>
