<% content_for :body_content_title do %>
  <%= @snippet.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @snippet.title %>
    </p>
  </section>
  <section>
    <h1>Body</h1>
    <p>
      <%=raw @snippet.body %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="snippets">
      <% @snippets.each do |snippet| %>
        <li>
          <%= link_to snippet.title, snippet_url(snippet) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
