<div id="active-snippets">
<% if @page.snippets.any? %>
  <h2><%= t('.active') %></h2>
  <ul>
  <% @page.snippets.each do |snippet| %>
    <li class='clearfix record <%= cycle('on', 'on-hover') %>' >
    <span class='title'>
      <%= snippet.title %>
      <% if ::Refinery::I18n.frontend_locales.many? and
            (locales = snippet.translations.collect{|t| t.locale}).present? %>
        <span class='preview'>
          <% locales.each do |locale| %>
            <%= refinery_icon_tag "flags/#{locale}.png", :size => '16x11' %>
          <% end %>
        </span>
      <% end %>
    </span>
    <span class='actions'>
      <%= link_to refinery_icon_tag('application_edit.png'), edit_admin_snippet_path(snippet),
           :title => t('.edit') %>
      <%= link_to refinery_icon_tag('delete.png'), url_for({:controller => 'snippets_page', :action => 'remove', :snippet_id => snippet.id, :id => @page.id}),
          :title => t('.remove'),
          :class => 'remove-snippet' %>
    </span>
    </li>
  <% end %>
  </ul>
<% end %>
</div>

<div id="inactive-snippets">
<% inactive_snippets = Snippet.inactive(@page) %>
<% if inactive_snippets.length > 0 %>
  <h2><%= t('.inactive') %></h2>
  <ul>
    <% inactive_snippets.each do |snippet| %>
    <li class='clearfix record <%= cycle('on', 'on-hover') %>' >
      <span class="title"><%= snippet.title %></span>
      <span class="actions">
        <a class="add_icon add-snippet" href="<%= url_for({:controller => 'snippets_page', :action => 'add', :snippet_id => snippet.id, :id => @page.id}) %>">Add</a>
      </span>
    </li>
    <% end %>
  </ul>
<% end %>
</div>






